body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4ff;
}

.box {
  width: 350px;
  background: white;
  margin: 80px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background: #5b5fff;
  color: white;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
